/*MAIN CSS ON ALL TEMPLATES*/
/* Global, don't touch unless you know what you're doing :D */
body {
    margin: 0%;
    font-family: Arial; /* use !important to change font of specific element */
    color: white;
}
p {
    margin: 0%;
}
.paragraph {
    margin-top: 1em;
}
.background {
    width: 100%;
    z-index: -1;
    max-width: 2160px;
    position: absolute;
}
#footer {
    position: absolute;
    bottom: 0%;
    height: 138px;
    width: 100%;
}

/* Date and time */
.datetime {
    color: white;
    font-family: Arial;
    word-spacing: -1px;
    width: 340px;
    padding: 15px 10px;
    border-radius: 5px;
    position: absolute;
    top: 2.3%;
    left:26%;
}
.date {
    margin-top: -5px;
    font-size: 9.5mm;
    font-weight: 500;
    text-align: center;
    white-space: nowrap; /* prevents break line */
}
.time {
    font-size: 14.5mm;
    font-style: normal;
    font-weight:100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

/* Buses and trains */
.trainName {
    font-size: 4.5mm; 
    position: absolute; 
}

/* Countdown in footer */ 
.countdown {
    text-align: center;
}
#countdownName {
    padding-top: 5px;
    font-size: 9.5mm;
}
#countdownTime {
    font-size: 9.5mm;
}

/*Weather*/
#ww_c2119b56c9599 {
    position: absolute !important;
    bottom: 0 !important;
}


/*CSS ON STANDARD BODY TEMPLATES*/
.busNameBody {
    font-size: 3.4mm; 
    position: absolute; 
}
.skanetrafikenTimeBody {
    font-size: 6.5mm; 
    font-family: Arial; 
    position: absolute; 
}
.skanetrafikenMinBody {
    color: rgb(90, 90, 90);
    font-size: 5.8mm; 
    font-family: Arial; 
    position: absolute; 
}
.busNumberBody {
    font-size: 4.5mm; 
    position: absolute; 
}
.skanetrafikenIconsBody {
    position: absolute; 
    width:5.6%;
    /*height:5.6%;*/
}

/* Train 1 */
#train1Body {            
    transform: translateX(79mm) translateY(63.5mm) !important; 
}
#train1TimeBody {
    transform: translateX(101.5mm) translateY(69.8mm) !important; 
}
#train1MinCONSTBody {
    transform: translateX(109mm) translateY(70.5mm) !important; 
}
#train1IconBody {
    transform: translateX(66.5mm) translateY(63mm) !important; 
}
/* Train 2 */
#train2Body {
    transform: translateX(79mm) translateY(81.5mm) !important; 
}
#train2TimeBody {
    transform: translateX(101.5mm) translateY(87.2mm) !important; 
}
#train2MinCONSTBody {
    transform: translateX(109mm) translateY(87.8mm) !important; 
}
#train2IconBody {
    transform: translateX(66.5mm) translateY(80.6mm) !important; 
}
/* Train 3 */
#train3Body {
    transform: translateX(79mm) translateY(99mm) !important;
}
#train3TimeBody {
    transform: translateX(101.5mm) translateY(105mm) !important; 
}
#train3MinCONSTBody {
    transform: translateX(109mm) translateY(105.6mm) !important; 
}
#train3IconBody {
    transform: translateX(66.5mm) translateY(98.2mm) !important; 
}
/* Train 4 */
#train4Body {
    transform: translateX(79mm) translateY(116.5mm) !important;
}
#train4TimeBody {
    transform: translateX(101.5mm) translateY(122.8mm) !important; 
}
#train4MinCONSTBody {
    transform: translateX(109mm) translateY(123.2mm) !important; 
}
#train4IconBody {
    transform: translateX(66.5mm) translateY(115.8mm) !important; 
}
/* Train 5 */
#train5Body {
    transform: translateX(79mm) translateY(134mm) !important;
}
#train5TimeBody {
    transform: translateX(101.5mm) translateY(140.4mm) !important; 
}
#train5MinCONSTBody {
    transform: translateX(109mm) translateY(141mm) !important; 
}
#train5IconBody {
    transform: translateX(66.5mm) translateY(133.5mm) !important; 
}
/* Train 6 */
#train6Body {
    transform: translateX(79mm) translateY(151.5mm) !important;
}
#train6TimeBody {
    transform: translateX(101.5mm) translateY(158mm) !important; 
}
#train6MinCONSTBody {
    transform: translateX(109mm) translateY(158.6mm) !important; 
}
#train6IconBody {
    transform: translateX(66.5mm) translateY(151.1mm) !important; 
}
/* Bus 1 */
#bus1NumberBody {
    transform: translateX(19mm) translateY(63.8mm) !important; 
}
#bus1NameBody {            
    transform: translateX(28mm) translateY(64.7mm) !important; 
}
#bus1TimeBody {
    transform: translateX(40mm) translateY(69.8mm) !important; 
}
#bus1MinCONSTBody {
    transform: translateX(47.5mm) translateY(70.5mm) !important; 
}
#bus1IconBody {
    transform: translateX(6.6mm) translateY(63mm) !important; 
}
/* Bus 2 */
#bus2NumberBody {
    transform: translateX(19mm) translateY(81.5mm) !important; 
}
#bus2NameBody {            
    transform: translateX(28mm) translateY(82.4mm) !important; 
}
#bus2TimeBody {
    transform: translateX(40mm) translateY(87.5mm) !important; 
}
#bus2MinCONSTBody {
    transform: translateX(47.5mm) translateY(88mm) !important; 
}
#bus2IconBody {
    transform: translateX(6.7mm) translateY(80.8mm) !important; 
}
/* Bus 3 */
#bus3NumberBody {
    transform: translateX(19mm) translateY(99.1mm) !important; 
}
#bus3NameBody {            
    transform: translateX(28mm) translateY(100mm) !important; 
}
#bus3TimeBody {
    transform: translateX(40mm) translateY(105.2mm) !important; 
}
#bus3MinCONSTBody {
    transform: translateX(47.5mm) translateY(105.8mm) !important; 
}
#bus3IconBody {
    transform: translateX(6.7mm) translateY(98.2mm) !important; 
}
/* Bus 4 */
#bus4NumberBody {
    transform: translateX(19mm) translateY(116.6mm) !important; 
}
#bus4NameBody {            
    transform: translateX(28mm) translateY(117.5mm) !important; 
}
#bus4TimeBody {
    transform: translateX(40mm) translateY(122.7mm) !important; 
}
#bus4MinCONSTBody {
    transform: translateX(47.5mm) translateY(123.3mm) !important; 
}
#bus4IconBody {
    transform: translateX(6.8mm) translateY(115.8mm) !important; 
}
/* Bus 5 */
#bus5NumberBody {
    transform: translateX(19mm) translateY(134.1mm) !important; 
}
#bus5NameBody {            
    transform: translateX(28mm) translateY(135mm) !important; 
}
#bus5TimeBody {
    transform: translateX(40mm) translateY(140.2mm) !important; 
}
#bus5MinCONSTBody {
    transform: translateX(47.5mm) translateY(140.8mm) !important; 
}
#bus5IconBody {
    transform: translateX(6.8mm) translateY(133.5mm) !important; 
}
/* Bus 6 */
#bus6NumberBody {
    transform: translateX(19mm) translateY(151.6mm) !important; 
}
#bus6NameBody {            
    transform: translateX(28mm) translateY(152.5mm) !important; 
}
#bus6TimeBody {
    transform: translateX(40mm) translateY(157.7mm) !important; 
}
#bus6MinCONSTBody {
    transform: translateX(47.5mm) translateY(158.3mm) !important; 
}
#bus6IconBody {
    transform: translateX(6.8mm) translateY(151.1mm) !important; 
}

/*Lunch*/
#lunchDivBody {
    position: absolute;
    height: 16.9mm;
    width: 98.1mm;
    transform: translateX(15mm) translateY(178mm) !important;
}
.lunchBody {
    text-align: center;
    margin-top: 2mm;
}


/*CSS ON STANDARD FOOTER TEMPLATES*/
.busNameFooter {
    font-size: 3.2mm; 
    position: absolute; 
}
.skanetrafikenTimeFooter {
    font-size: 3.8mm; 
    font-family: Arial; 
    position: absolute; 
}
.skanetrafikenMinFooter {
    color: rgb(90, 90, 90);
    font-size: 3.8mm; 
    font-family: Arial; 
    position: absolute; 
}
.busNumberFooter {
    font-size: 4mm; 
    position: absolute; 
}
.skanetrafikenIconsFooter {
    position: absolute; 
    max-width:5.6% !important;
}

/* Train 1 */
#train1Footer {            
    transform: translateX(84mm) translateY(282.8mm) !important; 
}
#train1TimeFooter {
    transform: translateX(125.3mm) translateY(283mm) !important; 
}
#train1MinCONSTFooter {
    transform: translateX(129.7mm) translateY(283mm) !important; 
}
#train1IconFooter {
    transform: translateX(72.4mm) translateY(281.8mm) !important; 
}
/* Train 2 */
#train2Footer {
    transform: translateX(84mm) translateY(290.2mm) !important; 
}
#train2TimeFooter {
    transform: translateX(125.3mm) translateY(290.5mm) !important; 
}
#train2MinCONSTFooter {
    transform: translateX(129.7mm) translateY(290.5mm) !important; 
}
#train2IconFooter {
    transform: translateX(72.4mm) translateY(289.2mm) !important; 
}
/* Train 3 */
#train3Footer {
    transform: translateX(84mm) translateY(297.5mm) !important;
}
#train3TimeFooter {
    transform: translateX(125.3mm) translateY(298mm) !important; 
}
#train3MinCONSTFooter {
    transform: translateX(129.7mm) translateY(298mm) !important; 
}
#train3IconFooter {
    transform: translateX(72.4mm) translateY(296.6mm) !important; 
}
/* Train 4 */
#train4Footer {
    transform: translateX(84mm) translateY(304.9mm) !important;
}
#train4TimeFooter {
    transform: translateX(125.3mm) translateY(305.5mm) !important; 
}
#train4MinCONSTFooter {
    transform: translateX(129.7mm) translateY(305.5mm) !important; 
}
#train4IconFooter {
    transform: translateX(72.4mm) translateY(304mm) !important; 
}
/* Train 5 */
#train5Footer {
    transform: translateX(84mm) translateY(312.4mm) !important;
}
#train5TimeFooter {
    transform: translateX(125.3mm) translateY(313mm) !important; 
}
#train5MinCONSTFooter {
    transform: translateX(129.7mm) translateY(313mm) !important; 
}
#train5IconFooter {
    transform: translateX(72.4mm) translateY(311.4mm) !important; 
}
/* Train 6 */
#train6Footer {
    transform: translateX(84mm) translateY(319.8mm) !important;
}
#train6TimeFooter {
    transform: translateX(125.3mm) translateY(320.5mm) !important; 
}
#train6MinCONSTFooter {
    transform: translateX(129.7mm) translateY(320.5mm) !important; 
}
#train6IconFooter {
    transform: translateX(72.4mm) translateY(318.8mm) !important; 
}
/* Bus 1 */
#bus1NumberFooter {
    transform: translateX(19mm) translateY(282.8mm) !important; 
}
#bus1NameFooter {            
    transform: translateX(27mm) translateY(283.4mm) !important; 
}
#bus1TimeFooter {
    transform: translateX(59.3mm) translateY(283mm) !important; 
}
#bus1MinCONSTFooter {
    transform: translateX(63.7mm) translateY(283mm) !important; 
}
#bus1IconFooter {
    transform: translateX(6.6mm) translateY(281.8mm) !important; 
}
/* Bus 2 */
#bus2NumberFooter {
    transform: translateX(19mm) translateY(290.2mm) !important; 
}
#bus2NameFooter {            
    transform: translateX(27mm) translateY(290.7mm) !important; 
}
#bus2TimeFooter {
    transform: translateX(59.3mm) translateY(290.5mm) !important; 
}
#bus2MinCONSTFooter {
    transform: translateX(63.7mm) translateY(290.5mm) !important; 
}
#bus2IconFooter {
    transform: translateX(6.6mm) translateY(289.2mm) !important; 
}
/* Bus 3 */
#bus3NumberFooter {
    transform: translateX(19mm) translateY(297.5mm) !important; 
}
#bus3NameFooter {            
    transform: translateX(27mm) translateY(298.2mm) !important; 
}
#bus3TimeFooter {
    transform: translateX(59.3mm) translateY(298mm) !important; 
}
#bus3MinCONSTFooter {
    transform: translateX(63.7mm) translateY(298mm) !important; 
}
#bus3IconFooter {
    transform: translateX(6.6mm) translateY(296.6mm) !important; 
}
/* Bus 4 */
#bus4NumberFooter {
    transform: translateX(19mm) translateY(304.9mm) !important; 
}
#bus4NameFooter {            
    transform: translateX(27mm) translateY(305.8mm) !important; 
}
#bus4TimeFooter {
    transform: translateX(59.3mm) translateY(305.5mm) !important; 
}
#bus4MinCONSTFooter {
    transform: translateX(63.7mm) translateY(305.5mm) !important; 
}
#bus4IconFooter {
    transform: translateX(6.6mm) translateY(304mm) !important; 
}
/* Bus 5 */
#bus5NumberFooter {
    transform: translateX(19mm) translateY(312.4mm) !important; 
}
#bus5NameFooter {            
    transform: translateX(27mm) translateY(313.1mm) !important; 
}
#bus5TimeFooter {
    transform: translateX(59.3mm) translateY(313mm) !important; 
}
#bus5MinCONSTFooter {
    transform: translateX(63.7mm) translateY(313mm) !important; 
}
#bus5IconFooter {
    transform: translateX(6.6mm) translateY(311.4mm) !important; 
}
/* Bus 6 */
#bus6NumberFooter {
    transform: translateX(19mm) translateY(319.8mm) !important; 
}
#bus6NameFooter {            
    transform: translateX(27mm) translateY(320.4mm) !important; 
}
#bus6TimeFooter {
    transform: translateX(59.3mm) translateY(320.5mm) !important; 
}
#bus6MinCONSTFooter {
    transform: translateX(63.7mm) translateY(320.5mm) !important; 
}
#bus6IconFooter {
    transform: translateX(6.6mm) translateY(318.8mm) !important;
}

/*Lunch*/
#lunchDivFooter {
    position: absolute;
    padding: 1mm;
    height: 24.3mm;
    width: 40.5mm;
    transform: translateX(142.4mm) translateY(293.3mm) !important;
}
.lunchFooter {
    text-align: center;
    margin-top: 1mm;
    font-size: 3mm;
}


/*CSS ON DIFFERENT TEMPLATES*/
#template1Text0 {
    position: absolute;
    width: 230px;
    height: 537px;
    transform: translateX(126.9mm) translateY(52.9mm) !important;
}

#template1Img0 {
    position: absolute;
    width: 700px;
    height: 376px;
    transform: translateX(2.5mm) translateY(200mm) !important;
}

#template1Img0 * { /* CSS for all child elements of this div. We choose this solution to prevent doing server stuff :D */
    max-width: 100%;
    max-height: 100%;
}

#template2Text1 {
    position: absolute;
    width: 230px;
    height: 537px;
    transform: translateX(126.9mm) translateY(52.9mm) !important;
}
#template2Text2 {
    position: absolute;
    width: 700px;
    height: 376px;
    transform: translateX(2.5mm) translateY(200mm) !important;
}

#template3Img {
    position: absolute;
    width: 703px;
    height: 894px;
    transform: translateX(0mm) translateY(48.5mm) !important;
}

#template3Img * { /* CSS for all child elements of this div. We choose this solution to prevent doing server stuff :D */
    max-width: 100%;
    max-height: 100%;
}

#template4Img {
    position: absolute;
    width: 669px;
    height: 378px;
    transform: translateX(6.8mm) translateY(53.3mm) !important;
}

#template4Img * { /* CSS for all child elements of this div. We choose this solution to prevent doing server stuff :D */
    max-width: 100%;
    max-height: 100%;
}

#template4Text {
    position: absolute;
    width: 669px;
    height: 378px;
    transform: translateX(6.8mm) translateY(169.3mm) !important;
}

#template5Text1 {
    position: absolute;
    width: 669px;
    height: 378px;
    transform: translateX(6.8mm) translateY(53.3mm) !important;
}

#template5Text2 {
    position: absolute;
    width: 669px;
    height: 378px;
    transform: translateX(6.8mm) translateY(169.3mm) !important;
}