<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
    <link rel="stylesheet" href="http://infotavla.te4projekt.se/css/main.css">

    <script src="http://infotavla.te4projekt.se/scripts/clockAndDate.js"></script>
</head>

<body>
    <img class="background" src="http://infotavla.te4projekt.se/images/backgrounds/standardBodyBackground.svg">


    <!-- Clock and Date-->
    <div class="datetime">
        <div class="time">
            <span class="hour">00</span>:
            <span class="minutes">00</span>
        </div>
        <div class="date">
            <span class="dayname">Day</span>
            <span class="daynum">00</span>
            <span class="month">Month</span>
        </div>
    </div>


    <!-- Skånetrafiken -->
    <!-- CONST = CONSTANT, NON CHANGEABLE TEXT -->
    <!-- train1 -->
    <img class="skanetrafikenIconsBody" id="train1IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train1Body" class="trainName trainName1"></p>
    <p id="train1TimeBody" class="skanetrafikenTimeBody trainTime1"></p>
    <p id="train1MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- train2 -->
    <img class="skanetrafikenIconsBody" id="train2IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train2Body" class="trainName trainName2"></p>
    <p id="train2TimeBody" class="skanetrafikenTimeBody trainTime2"></p>
    <p id="train2MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- train3 -->
    <img class="skanetrafikenIconsBody" id="train3IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train3Body" class="trainName trainName3"></p>
    <p id="train3TimeBody" class="skanetrafikenTimeBody trainTime3"></p>
    <p id="train3MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- train4 -->
    <img class="skanetrafikenIconsBody" id="train4IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train4Body" class="trainName trainName4"></p>
    <p id="train4TimeBody" class="skanetrafikenTimeBody trainTime4"></p>
    <p id="train4MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- train5 -->
    <img class="skanetrafikenIconsBody" id="train5IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train5Body" class="trainName trainName5"></p>
    <p id="train5TimeBody" class="skanetrafikenTimeBody trainTime5"></p>
    <p id="train5MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- train6 -->
    <img class="skanetrafikenIconsBody" id="train6IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Tag.svg">
    <p id="train6Body" class="trainName trainName6"></p>
    <p id="train6TimeBody" class="skanetrafikenTimeBody trainTime6"></p>
    <p id="train6MinCONSTBody" class="skanetrafikenMinBody">min</p>

    <!-- Bus1 -->
    <img class="skanetrafikenIconsBody" id="bus1IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus1NumberBody" class="busNumberBody busShortName1"></p>
    <p id="bus1NameBody" class="busNameBody busName1"></p>
    <p id="bus1TimeBody" class="skanetrafikenTimeBody busTime1"></p>
    <p id="bus1MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- Bus2 -->
    <img class="skanetrafikenIconsBody" id="bus2IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus2NumberBody" class="busNumberBody busShortName2"></p>
    <p id="bus2NameBody" class="busNameBody busName2"></p>
    <p id="bus2TimeBody" class="skanetrafikenTimeBody busTime2"></p>
    <p id="bus2MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- Bus3 -->
    <img class="skanetrafikenIconsBody" id="bus3IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus3NumberBody" class="busNumberBody busShortName3"></p>
    <p id="bus3NameBody" class="busNameBody busName3"></p>
    <p id="bus3TimeBody" class="skanetrafikenTimeBody busTime3"></p>
    <p id="bus3MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- Bus4 -->
    <img class="skanetrafikenIconsBody" id="bus4IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus4NumberBody" class="busNumberBody busShortName4"></p>
    <p id="bus4NameBody" class="busNameBody busName4"></p>
    <p id="bus4TimeBody" class="skanetrafikenTimeBody busTime4"></p>
    <p id="bus4MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- Bus5 -->
    <img class="skanetrafikenIconsBody" id="bus5IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus5NumberBody" class="busNumberBody busShortName5"></p>
    <p id="bus5NameBody" class="busNameBody busName5"></p>
    <p id="bus5TimeBody" class="skanetrafikenTimeBody busTime5"></p>
    <p id="bus5MinCONSTBody" class="skanetrafikenMinBody">min</p>
    <!-- Bus6 -->
    <img class="skanetrafikenIconsBody" id="bus6IconBody"
        src="http://infotavla.te4projekt.se/images/icons/Trains and busses/Buss.svg">
    <p id="bus6NumberBody" class="busNumberBody busShortName6"></p>
    <p id="bus6NameBody" class="busNameBody busName6"></p>
    <p id="bus6TimeBody" class="skanetrafikenTimeBody busTime6"></p>
    <p id="bus6MinCONSTBody" class="skanetrafikenMinBody">min</p>

    <div id="lunchDivBody">
        <p class="lunchBody lunchInfo">Error: Ingen mat inlagd</p>
    </div>

    <!-- Content -->
    <div class='text' id="template2Text1">

    </div>

    <div class='text' id="template2Text2">

    </div>

    <!-- Footer countdown -->
    <div id="footer">
        <p id="countdownName" class="countdown countdownName">Countdown</p>
        <p id="countdownTime" class="countdown countdownTime">12 dagar</p>


        <div id="ww_c2119b56c9599" v='1.3' loc='id'
            a='{"t":"ticker","lang":"en","ids":["wl2618"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"#7B1FA2","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_nme":3}'>
            <a href="https://sharpweather.com/widgets/" id="ww_c2119b56c9599_u" target="_blank">
                Free HTML Weather Widget for Website
            </a>
        </div>
        <script async src="https://app1.weatherwidget.org/js/?id=ww_c2119b56c9599"></script>
    </div>
    <img onerror="UpdateClock()" src="" style="display:none">
</body>

</html>